__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.venv
.vscode
*.mp4
.ipynb_*
__marimo__/
.ruff_cache__/
.mypy_cache/
.ruff_cache/
.claude/
site/
benchmarks/runs
.pytest_cache/
*.gif
*.png
.cache
*.patch
*.yaml
runs/
